@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

$background: white;
$defaultFont: "Roboto", sans-serrif;
$secondaryFont: 'Jost', sans-serif;
$headingWeight: 500;
$bodyWeight: 300;

$hColor: #fe5d26;
$background2: #2e4052;

$primaryColor: white;
$secondaryColor: #fe5d26;
$accent1: #2e4052;
$accent2: #ffc857;

