@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serrif;
  font-weight: 500;
  color: #fe5d26;
}

p,
span {
  font-family: "Roboto", sans-serrif;
  font-weight: 300;
}

.topicLink:hover {
  text-decoration: underline solid #fe5d26 3px;
}
.topicLink:active {
  color: #2e4052;
}

.topicHeader {
  font-size: 2em;
}

.topicText {
  color: #2e4052;
  margin: 0.5em auto;
}

.circle-icon {
  background: #2e4052;
  color: white;
  border: #2e4052 solid 2px;
  border-radius: 50%;
  padding: 20px;
  list-style: none;
  margin: 0.5em;
}

.designMenu {
  background: #2e4052;
  width: 30%;
  margin-left: 0;
}
.designMenu ul {
  padding-left: 0;
}
.designMenu li {
  list-style: none;
}
.designMenu p {
  color: white;
  margin: 0.25em auto;
  font-size: 1.25em;
}
.designMenu p:nth-child(even) {
  margin-bottom: 1em;
  padding-left: 0.75em;
}

.icon-group {
  display: flex;
  flex-direction: row;
}

html {
  background-color: white;
  font-family: "Roboto", sans-serrif;
}

body {
  max-width: 100%;
  margin: auto;
}

h2, h3 {
  font-size: 2em;
  font-family: "Jost", sans-serif;
  font-weight: 800;
}

section {
  padding: 0 2em;
}
section h1 {
  font-family: "Jost", sans-serif;
  font-size: 8vw;
  text-align: center;
  text-shadow: 2px 2px 8px #888888;
}
section p {
  font-size: 1.3em;
}

.fontExample {
  font-size: 2em;
}

.headingExample {
  font-weight: 500;
}

img {
  max-width: 80%;
  height: auto;
}

a {
  text-decoration: none;
  color: #ffc857;
}

p {
  line-height: 1.7em;
}

ul li {
  list-style-type: none;
}

.page-wrapper {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 4fr 1fr;
}

.intro {
  grid-column: 1/3;
}

.main {
  margin-top: -120px;
  grid-column: 1/5;
  grid-row: 2/4;
  grid-template-rows: auto;
}

.sidebar {
  grid-column: 5;
  grid-row: 1/3;
  background-color: #2e4052;
  padding: 0 2em;
  color: white;
  font-family: "Jost", sans-serif;
}
.sidebar ul li {
  animation: slide 1s;
}

@keyframes slide {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
#zen-supporting div {
  background-color: #2e4052;
  color: white;
  padding: 1em 5em;
  margin: 1em;
  box-shadow: 10px 10px 8px #888888;
  border-radius: 15px 3px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}
#zen-supporting div:nth-child(2n+1) {
  background-color: #ffc857;
  color: #2e4052;
}
#zen-supporting div p {
  font-size: 1.3em;
}
#zen-supporting div:hover {
  box-shadow: none;
  border-radius: 3px 15px;
  transform: scale(1.02, 1.02);
}

footer {
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
}
footer a {
  visibility: hidden;
}
footer a:first-of-type::after {
  content: url("https://grabbex.com/BYUI/WDD331/html-t.png");
  visibility: visible;
}
footer a:nth-of-type(2)::after {
  content: url("https://grabbex.com/BYUI/WDD331/csslogo-t.png");
  visibility: visible;
}
footer a:nth-of-type(3)::after {
  content: url("https://grabbex.com/BYUI/WDD331/cc-t.png");
  visibility: visible;
}
footer a:nth-of-type(4)::after {
  content: url("https://grabbex.com/BYUI/WDD331/accessibility-t.png");
  visibility: visible;
}
footer a:nth-of-type(5)::after {
  content: url("https://grabbex.com/BYUI/WDD331/github-t.png");
  visibility: visible;
}

@media only screen and (max-width: 900px) {
  .sidebar {
    grid-row: 5/5;
    grid-column: 1/5;
  }
  .sidebar .wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }
  .sidebar .wrapper ul {
    padding-left: 0;
  }

  section {
    width: 80%;
  }
}
@media only screen and (max-width: 575px) {
  #zen-supporting div {
    padding: 1em;
  }

  .sidebar .wrapper {
    display: flex;
    flex-direction: column;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2em;
    margin-bottom: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
