// Imports
@use "variables" as *;
@use "atoms" as *;
@use "molecules" as *;

// Styleguide Specific Styling
html {
  background-color: $background;
  font-family: $defaultFont;
  // TODO Responsive Font Sizing
  // TODO SVG Minimalist Images
}

body {
  max-width: 100%;
  margin: auto;
}

section {
  //background-color: $background;
  //background-color: #2e4052;
  // padding: 0.5em 2em 2em 2em;
  // margin: 1em auto;
  // border-radius: 20px;
  // border: #2e4052 1px solid;
  padding: 0 2em;


  & h1 {
    font-family: $secondaryFont;
    font-size: 8vw;
    text-align: center;
    text-shadow: 2px 2px 8px $shadowColor;
  }

  h2, h3{
    font-size: 2em;
    font-family: $secondaryFont;
    font-weight: 800;
  }

  & p {
    font-size: 1.3em;
  }
}

.fontExample {
  font-size: 2em;
}

.headingExample {
  font-weight: $headingWeight;
}

img {
  max-width: 80%;
  height: auto;
}

a {
  text-decoration: none;
  color: $accent2;
}

p {
  line-height: 1.7em;
}

ul li {
  list-style-type: none;
}

.page-wrapper {
  //padding-left: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 4fr 1fr;
}

.intro {
  grid-column: 1/5;
}

.main {
  grid-column: 1/5;
  grid-row: 2/4;
  //display: grid;
  //grid-template-rows: repeat(4, 25%);
  grid-template-rows: auto;
}

.sidebar {
  grid-column: 5;
  grid-row: 1/5;
  background-color: $accent1;
  padding: 0 2em;
  color: $primaryColor;
  font-family: $secondaryFont;
  & ul li{
    animation: slide 1s;
  }
}

@keyframes slide {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0px);
  }
}

#zen-supporting {
  & div {
    background-color: $accent1;
    color: white;
    padding: 1em 5em;
    margin: 1em;
    box-shadow: 10px 10px 8px $shadowColor;
    border-radius: 15px 3px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;

    &:nth-child(2n + 1) {
      background-color: $accent2;
      color: $accent1;
    }

    & p {
      font-size: 1.3em;
    }

    & h3 {
      font-size: 2em;
      font-family: $secondaryFont;
      font-weight: 800;
    }

    &:hover {
      box-shadow: none;
      border-radius: 3px 15px;
      transform: scale(1.02, 1.02);
    }
  }
}

footer {
  margin-top: 3em;
  display: flex;
  justify-content: space-around;

  // & a:first-of-type {
  //   display: none;
  // }

  & a {
    visibility: hidden;
  }

  & img {
    height: 50px;
    width: 50px;
  }

  & a:first-of-type::after {
    @include imageBackground("https://grabbex.com/BYUI/WDD331/html-t.png")
  }
  
  & a:nth-of-type(2)::after {
    @include imageBackground("https://grabbex.com/BYUI/WDD331/csslogo-t.png")
  }
  & a:nth-of-type(3)::after {
    @include imageBackground("https://grabbex.com/BYUI/WDD331/cc-t.png");
  }
  & a:nth-of-type(4)::after {
    @include imageBackground("https://grabbex.com/BYUI/WDD331/accessibility-t.png");
  }
  & a:nth-of-type(5)::after {
    @include imageBackground("https://grabbex.com/BYUI/WDD331/github-t.png");
  }
}

@media only screen and (max-width: 900px) {
  .sidebar {
    grid-row: 5/5;
    grid-column: 1/5;

    & .wrapper {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;

      & ul {
        padding-left: 0;
      }
    }
  }

  section {
    width: 80%;
  }
}

@media only screen and (max-width: 575px) {
  .sidebar {
    & .wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}


